<section class="section padding about">
  <div class="conteiner">
    <h2 class="title">Чем мы занимаемся</h2>
    <ul class="about__list list">
      <li class="about__item">
        <img
          srcset="
            ./images/about/imgpicture1.jpg    370w,
            ./images/about/imgpicture1@2x.jpg 740w
          "
          sizes="370px"
          src="./images/about/imgpicture1.jpg"
          alt="Описание изображения для всех версий"
        />
        <div class="photo-text">
          <p class="photo-paragraf">Десктопные приложения</p>
        </div>
      </li>
      <li class="about__item">
        <img
          srcset="
            ./images/about/imgpicture2.jpg    370w,
            ./images/about/imgpicture2@2x.jpg 740w
          "
          sizes="370px"
          src="./images/about/imgpicture2.jpg"
          alt="Описание изображения для всех версий"
        />
        <div class="photo-text">
          <p class="photo-paragraf">Мобильные приложения</p>
        </div>
      </li>
      <li class="about__item">
        <img
          srcset="
            ./images/about/imgpicture3.jpg    370w,
            ./images/about/imgpicture3@2x.jpg 740w
          "
          sizes="370px"
          src="./images/about/imgpicture3.jpg"
          alt="Описание изображения для всех версий"
        />
        <div class="photo-text">
          <p class="photo-paragraf">Дизайнерские решения</p>
        </div>
      </li>
    </ul>
  </div>
</section>
