<header>
  <div class="conteiner main-nav">
    <nav class="navigator">
      <a href="./index.html" class="logo header-logo"
        ><span class="logo-accent">Web</span>Studio</a
      >
      <button
        type="button"
        class="button-mobal-open js-scroll-off"
        data-menu-button
        aria-controls="mobile-menu"
        aria-expanded="false"
      >
        <svg class="icon-mobal-open" width="40" height="40">
          <use href="./images/icons.svg/mobal-menu.svg#icon-menu_40px-1"></use>
        </svg>
      </button>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a href="./index.html" class="site-nav__link curent">Студия</a>
        </li>
        <li class="site-nav__item">
          <a href="./portfolio.html" class="site-nav__link">Портфолио</a>
        </li>
        <li class="site-nav__item">
          <a href="#contact" class="site-nav__link">Контакты</a>
        </li>
      </ul>
    </nav>
    <ul class="contact__list">
      <li class="contact__item">
        <a href="tomail:info@devstudio.com" class="contact__link">
          <svg class="contact__icon" width="16" height="12">
            <use href="./images/icons.svg/header.svg#icon-envelope-hover"></use>
          </svg>
          info@devstudio.com
        </a>
      </li>
      <li class="contact__item">
        <a href="tel:+380961111111" class="contact__link">
          <svg class="contact__icon" width="10" height="16">
            <use href="./images/icons.svg/header.svg#icon-Vector-2"></use>
          </svg>
          +38 096 111 11 11</a
        >
      </li>
    </ul>
  </div>
</header>
