<div class="mobile-menu-conteiner" data-menu id="mobile-menu">
  <button
    type="button"
    class="button-mobal-close js-scroll-on"
    data-menu-button
  >
    <svg width="40" height="40" class="icon-mobal-close">
      <use href="./images/icons.svg/mobal-menu.svg#icon-close_40px"></use>
    </svg>
  </button>
  <nav class="mobal-nav">
    <ul class="mobal-site-nav">
      <li class="mobal-site-nav__item">
        <a href="./index.html" class="mobal-site-nav__link curent">Студия</a>
      </li>
      <li class="mobal-site-nav__item">
        <a href="./portfolio.html" class="mobal-site-nav__link">Портфолио</a>
      </li>
      <li class="mobal-site-nav__item">
        <a href="" class="mobal-site-nav__link">Контакты</a>
      </li>
    </ul>
  </nav>
  <div class="mobal-contact">
    <ul class="mobal-contact__list">
      <li class="mobal-contact__item">
        <a href="tel:+380961111111" class="mobal-contact__link tel">
          +38 096 111 11 11</a
        >
      </li>
      <li class="mobal-contact__item">
        <a href="tomail:info@devstudio.com" class="mobal-contact__link">
          info@devstudio.com
        </a>
      </li>
    </ul>
    <ul class="modal-soc__list">
      <li class="modal-soc__item modal-soc__item--padding">
        <a href="" class="modal-soc__link">Instagram</a>
      </li>
      <li class="modal-soc__item">
        <a href="" class="modal-soc__link">Twitter</a>
      </li>
      <li class="modal-soc__item">
        <a href="" class="modal-soc__link">Facebook</a>
      </li>
      <li class="modal-soc__item">
        <a href="" class="modal-soc__link">LinkedIn</a>
      </li>
    </ul>
  </div>
</div>
