<section class="section">
  <div class="conteiner">
    <h1 class="visually-hidden">Портфолио</h1>
    <ul class="buttons-list list">
      <li class="buttons-list__item">
        <button type="button" data-id="all" class="button button-portfolio">
          Все
        </button>
      </li>
      <li class="buttons-list__item">
        <button type="button" data-id="web" class="button button-portfolio">
          Веб-сайты
        </button>
      </li>
      <li class="buttons-list__item">
        <button type="button" data-id="annex" class="button button-portfolio">
          Приложения
        </button>
      </li>
      <li class="buttons-list__item">
        <button type="button" data-id="design" class="button button-portfolio">
          Дизайн
        </button>
      </li>
      <li class="buttons-list__item">
        <button
          type="button"
          data-id="marketing"
          class="button button-portfolio"
        >
          Маркетинг
        </button>
      </li>
    </ul>

    <ul class="list-projects list">
      <li class="list-projects__item web">
        <div class="position-photo">
          <picture>
            <source
              srcset="
                ./images/portcard/imgcompcard1.jpg    1x,
                ./images/portcard/imgcompcard1@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/portcard/imgtabcard1.jpg    1x,
                ./images/portcard/imgtabcard1@2x.jpg 2x
              "
              media="(min-width: 767px)"
            />
            <source
              srcset="
                ./images/portcard/imgmobcard1.jpg    1x,
                ./images/portcard/imgmobcard1@2x.jpg 2x
              "
              width="100%"
              media="(max-width: 767px)"
            />
            <img src="./images/portcard/imgtabcard1.jpg" alt="карточка1" />
          </picture>
          <p class="position-paragraf-top">
            Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.
          </p>
        </div>
        <div class="project tab-flex-grow">
          <h2 class="project__title">Технокряк</h2>
          <p class="project__paragraf box-1">Веб-сайт</p>
        </div>
      </li>
      <li class="list-projects__item design">
        <div class="position-photo">
          <picture>
            <source
              srcset="
                ./images/portcard/imgcardcomp2.jpg    1x,
                ./images/portcard/imgcardcomp2@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/portcard/imgtabcard2.jpg    1x,
                ./images/portcard/imgtabcard2@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portcard/imgmobcard2.jpg    1x,
                ./images/portcard/imgmobcard2@2x.jpg 2x
              "
              width="100%"
              media="(max-width: 767px)"
            />
            <img src="./images/portcard/imgmobcard2.jpg" alt="карточка2" />
          </picture>
          <p class="position-paragraf-top">
            Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.
          </p>
        </div>
        <div class="project">
          <h2 class="project__title">Постер New Orlean vs Golden Star</h2>
          <p class="project__paragraf">Дизайн</p>
        </div>
      </li>
      <li class="list-projects__item annex">
        <div class="position-photo">
          <picture>
            <source
              srcset="
                ./images/portcard/imgcompcard3.jpg    1x,
                ./images/portcard/imgcompcard3@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/portcard/imgtabcard3.jpg    1x,
                ./images/portcard/imgtabcard3@2x.jpg 2x
              "
              media="(min-width: 767px)"
            />
            <source
              srcset="
                ./images/portcard/imgmobcard3.jpg    1x,
                ./images/portcard/imgmobcard3@2x.jpg 2x
              "
              width="100%"
              media="(max-width: 767px)"
            />
            <img src="./images/portcard/imgtabcard3.jpg" alt="карточка3" />
          </picture>
          <p class="position-paragraf-top">
            Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.
          </p>
        </div>
        <div class="project">
          <h2 class="project__title">Ресторан Seafood</h2>
          <p class="project__paragraf">Приложение</p>
        </div>
      </li>
      <li class="list-projects__item marketing">
        <div class="position-photo">
          <picture>
            <source
              srcset="
                ./images/portcard/imgcompcard4.jpg    1x,
                ./images/portcard/imgcompcard4@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/portcard/imgtabcard4.jpg    1x,
                ./images/portcard/imgtabcard4@2x.jpg 2x
              "
              media="(min-width: 767px)"
            />
            <source
              srcset="
                ./images/portcard/imgmobcard4.jpg    1x,
                ./images/portcard/imgmobcard4@2x.jpg 2x
              "
              width="100%"
              media="(max-width: 767px)"
            />
            <img src="./images/portcard/imgtabcard4.jpg" alt="карточка4" />
          </picture>
          <p class="position-paragraf-top">
            Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.
          </p>
        </div>
        <div class="project">
          <h2 class="project__title">Проект Prime</h2>
          <p class="project__paragraf">Маркетинг</p>
        </div>
      </li>
      <li class="list-projects__item annex">
        <div class="position-photo">
          <picture>
            <source
              srcset="
                ./images/portcard/imgcompcard5.jpg    1x,
                ./images/portcard/imgcompcard5@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/portcard/imgtabcard5.jpg    1x,
                ./images/portcard/imgtabcard5@2x.jpg 2x
              "
              media="(min-width: 767px)"
            />
            <source
              srcset="
                ./images/portcard/imgmobcard5.jpg    1x,
                ./images/portcard/imgmobcard5@2x.jpg 2x
              "
              width="100%"
              media="(max-width: 767px)"
            />
            <img src="./images/portcard/imgtabcard5.jpg" alt="карточка5" />
          </picture>
          <p class="position-paragraf-top">
            Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.
          </p>
        </div>
        <div class="project">
          <h2 class="project__title">Проект Boxes</h2>
          <p class="project__paragraf">Приложение</p>
        </div>
      </li>
      <li class="list-projects__item web">
        <div class="position-photo">
          <picture>
            <source
              srcset="
                ./images/portcard/imgcompcard6.jpg    1x,
                ./images/portcard/imgcompcard6@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/portcard/imgtabcard6.jpg    1x,
                ./images/portcard/imgtabcard6@2x.jpg 2x
              "
              media="(min-width: 767px)"
            />
            <source
              srcset="
                ./images/portcard/imgmobcard6.jpg    1x,
                ./images/portcard/imgmobcard6@2x.jpg 2x
              "
              width="100%"
              media="(max-width: 767px)"
            />
            <img src="./images/portcard/imgtabcard6.jpg" alt="карточка6" />
          </picture>
          <p class="position-paragraf-top">
            Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.
          </p>
        </div>
        <div class="project">
          <h2 class="project__title">Inspiration has no Borders</h2>
          <p class="project__paragraf">Веб-сайт</p>
        </div>
      </li>
      <li class="list-projects__item design">
        <div class="position-photo">
          <picture>
            <source
              srcset="
                ./images/portcard/imgcompcard7.jpg    1x,
                ./images/portcard/imgcompcard7@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/portcard/imgtabcard7.jpg    1x,
                ./images/portcard/imgtabcard7@2x.jpg 2x
              "
              media="(min-width: 767px)"
            />

            <source
              srcset="
                ./images/portcard/imgmobcard7.jpg    1x,
                ./images/portcard/imgmobcard7@2x.jpg 2x
              "
              width="100%"
              media="(max-width: 767px)"
            />
            <img src="./images/portcard/imgtabcard7.jpg" alt="карточка7" />
          </picture>
          <p class="position-paragraf-top">
            Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.
          </p>
        </div>
        <div class="project">
          <h2 class="project__title">Издание Limited Edition</h2>
          <p class="project__paragraf">Дизайн</p>
        </div>
      </li>
      <li class="list-projects__item marketing">
        <div class="position-photo">
          <picture>
            <source
              srcset="
                ./images/portcard/imgcompcard8.jpg    1x,
                ./images/portcard/imgcompcard8@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/portcard/imgtabcard8.jpg    1x,
                ./images/portcard/imgtabcard8@2x.jpg 2x
              "
              media="(min-width: 767px)"
            />
            <source
              srcset="
                ./images/portcard/imgmobcard8.jpg    1x,
                ./images/portcard/imgmobcard8@2x.jpg 2x
              "
              width="100%"
              media="(max-width: 767px)"
            />
            <img src="./images/portcard/imgtabcard8.jpg" alt="карточка8" />
          </picture>
          <p class="position-paragraf-top">
            Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.
          </p>
        </div>
        <div class="project">
          <h2 class="project__title">Проект LAB</h2>
          <p class="project__paragraf">Маркетинг</p>
        </div>
      </li>
      <li class="list-projects__item annex">
        <div class="position-photo">
          <picture>
            <source
              srcset="
                ./images/portcard/imgcompcard9.jpg    1x,
                ./images/portcard/imgcompcard9@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/portcard/imgtabcard9.jpg    1x,
                ./images/portcard/imgtabcard9@2x.jpg 2x
              "
              media="(min-width: 767px)"
            />
            <source
              srcset="
                ./images/portcard/imgmobcard9.jpg    1x,
                ./images/portcard/imgmobcard9@2x.jpg 2x
              "
              width="100%"
              media="(max-width: 767px)"
            />
            <img src="./images/portcard/imgtabcard9.jpg" alt="карточка9" />
          </picture>
          <p class="position-paragraf-top">
            Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.
          </p>
        </div>
        <div class="project">
          <h2 class="project__title">Growing Business</h2>
          <p class="project__paragraf">Приложение</p>
        </div>
      </li>
    </ul>
  </div>
</section>
